USE [master]
GO
/****** Object:  Database [PIMIII]    Script Date: 09/11/2016 02:17:59 ******/
CREATE DATABASE [PIMIII]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PIMIII', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PIMIII.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PIMIII_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PIMIII_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PIMIII].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PIMIII]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 09/11/2016 02:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NOT NULL,
	[CPF] [varchar](14) NULL,
	[CNH] [varchar](15) NULL,
	[CEP] [varchar](9) NULL,
	[RG] [varchar](12) NULL,
	[Orgao_Emissor] [varchar](30) NULL,
	[Data_Emissao] [varchar](30) NULL,
	[Telefone] [varchar](14) NULL,
	[Email] [varchar](100) NULL,
	[Cli_Status] [varchar](1) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__CLIENTE__CPF] UNIQUE NONCLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ENDERECO]    Script Date: 09/11/2016 02:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ENDERECO](
	[ID_Endereco] [int] IDENTITY(1,1) NOT NULL,
	[CEP] [varchar](9) NOT NULL,
	[Rua] [varchar](255) NOT NULL,
	[Complemento] [varchar](25) NULL,
	[Cidade] [varchar](255) NULL,
	[Sigla_Estado] [varchar](2) NULL,
 CONSTRAINT [PK_ENDERECO] PRIMARY KEY CLUSTERED 
(
	[ID_Endereco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__ENDERECO__CEP] UNIQUE NONCLUSTERED 
(
	[CEP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 09/11/2016 02:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ID_Estado] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Estado] [varchar](25) NULL,
	[Sigla_Estado] [varchar](2) NULL,
 CONSTRAINT [PK__ESTADO] PRIMARY KEY CLUSTERED 
(
	[ID_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__SIGLA_ESTADO] UNIQUE NONCLUSTERED 
(
	[Sigla_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FINANCEIRO]    Script Date: 09/11/2016 02:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINANCEIRO](
	[ID_Financerio] [int] IDENTITY(1,1) NOT NULL,
	[Vlr_Multa] [float] NULL,
	[Vlr_Aluguel] [float] NULL,
	[ID_locacao] [int] NULL,
	[ID_Seguro] [int] NULL,
 CONSTRAINT [PK_FINANCEIRO] PRIMARY KEY CLUSTERED 
(
	[ID_Financerio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FUNCIONARIO]    Script Date: 09/11/2016 02:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FUNCIONARIO](
	[ID_Funcio] [int] IDENTITY(1,1) NOT NULL,
	[NOME_Funcio] [varchar](255) NOT NULL,
	[RG_Funcio] [varchar](12) NOT NULL,
	[Cargo] [varchar](50) NULL,
	[CPF_Funcio] [varchar](14) NULL,
	[CEP] [varchar](9) NULL,
 CONSTRAINT [PK_FUNCIONÁRIO] PRIMARY KEY CLUSTERED 
(
	[ID_Funcio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOCACAO]    Script Date: 09/11/2016 02:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOCACAO](
	[ID_Locacao] [int] IDENTITY(1,1) NOT NULL,
	[Data_hora] [datetime] NULL,
	[CPF_Cli] [varchar](14) NULL,
	[Placa_Car] [varchar](7) NOT NULL,
 CONSTRAINT [PK_LOCACAO] PRIMARY KEY CLUSTERED 
(
	[ID_Locacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MANUTENCAO]    Script Date: 09/11/2016 02:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MANUTENCAO](
	[ID_Manutencao] [int] IDENTITY(1,1) NOT NULL,
	[Placa_Manutencao] [varchar](7) NULL,
	[Tipo_Problema] [varchar](255) NULL,
	[ID_Funcionario] [int] NULL,
 CONSTRAINT [PK__ID_Manutencao] PRIMARY KEY CLUSTERED 
(
	[ID_Manutencao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SEGURO]    Script Date: 09/11/2016 02:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEGURO](
	[ID_Seguro] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Seguro] [varchar](255) NULL,
	[Valor_Seguro] [money] NULL,
	[ID_Veiculo] [int] NULL,
 CONSTRAINT [PK_SEGURO] PRIMARY KEY CLUSTERED 
(
	[ID_Seguro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TROCA_VEICULO]    Script Date: 09/11/2016 02:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TROCA_VEICULO](
	[ID_Troca] [int] IDENTITY(1,1) NOT NULL,
	[Id_Locacao] [int] NULL,
	[Placa_Sub] [varchar](7) NULL,
	[Data_Hora] [datetime] NULL,
 CONSTRAINT [PK_TROCA_VEICULO] PRIMARY KEY CLUSTERED 
(
	[ID_Troca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VEICULO]    Script Date: 09/11/2016 02:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VEICULO](
	[ID_Veiculo] [int] IDENTITY(1,1) NOT NULL,
	[Placa_Car] [varchar](7) NULL,
	[Marca] [varchar](25) NULL,
	[Modelo] [varchar](25) NULL,
	[Ano] [int] NULL,
	[Cambio] [varchar](25) NULL,
	[Motor] [float] NULL,
	[Ar_Condicionado] [varchar](3) NULL,
	[Direcao_hidraulica] [varchar](3) NULL,
	[Cor] [varchar](25) NULL,
	[Radio_Embutido] [varchar](3) NULL,
	[Vidros_Eletricos] [varchar](4) NULL,
	[Portas] [varchar](10) NULL,
 CONSTRAINT [PK__ID_Veiculo] PRIMARY KEY CLUSTERED 
(
	[ID_Veiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Placa] UNIQUE NONCLUSTERED 
(
	[Placa_Car] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[VW_ENDERECO_CLIENTE]    Script Date: 09/11/2016 02:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_ENDERECO_CLIENTE]
					AS
					SELECT C.NOME, C.CPF, C.EMAIL,C.CLI_STATUS, C.TELEFONE, E.RUA, E.COMPLEMENTO, E.CIDADE, E.SIGLA_ESTADO
					FROM CLIENTE C
					INNER JOIN ENDERECO E
					ON C.CEP = E.CEP

GO
/****** Object:  View [dbo].[VW_LOCACAO]    Script Date: 09/11/2016 02:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_LOCACAO]

			AS

			 SELECT L.ID_LOCACAO, L.DATA_HORA,L.CPF_CLI, L.PLACA_CAR, V.ID_VEICULO, V.MARCA, V.MODELO, V.COR, 
			              C.NOME, C.CLI_STATUS, C.CEP, E.RUA, E.COMPLEMENTO, E.CIDADE, E.SIGLA_ESTADO
						   FROM LOCACAO L
						   INNER JOIN VEICULO V
						   ON L.PLACA_CAR = V.PLACA_CAR
						   INNER JOIN CLIENTE C
						   ON L.CPF_CLI  = C.CPF
						   INNER JOIN ENDERECO E
						   ON E.CEP = C.CEP
						   

GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [CEP] FOREIGN KEY([CEP])
REFERENCES [dbo].[ENDERECO] ([CEP])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [CEP]
GO
ALTER TABLE [dbo].[ENDERECO]  WITH CHECK ADD  CONSTRAINT [PK_Sigla_Estado] FOREIGN KEY([Sigla_Estado])
REFERENCES [dbo].[ESTADO] ([Sigla_Estado])
GO
ALTER TABLE [dbo].[ENDERECO] CHECK CONSTRAINT [PK_Sigla_Estado]
GO
ALTER TABLE [dbo].[FINANCEIRO]  WITH CHECK ADD  CONSTRAINT [ID_locacao_FK] FOREIGN KEY([ID_locacao])
REFERENCES [dbo].[LOCACAO] ([ID_Locacao])
GO
ALTER TABLE [dbo].[FINANCEIRO] CHECK CONSTRAINT [ID_locacao_FK]
GO
ALTER TABLE [dbo].[FINANCEIRO]  WITH CHECK ADD  CONSTRAINT [ID_Seguro_FK] FOREIGN KEY([ID_Seguro])
REFERENCES [dbo].[SEGURO] ([ID_Seguro])
GO
ALTER TABLE [dbo].[FINANCEIRO] CHECK CONSTRAINT [ID_Seguro_FK]
GO
ALTER TABLE [dbo].[FUNCIONARIO]  WITH CHECK ADD  CONSTRAINT [FK_CEP] FOREIGN KEY([CEP])
REFERENCES [dbo].[ENDERECO] ([CEP])
GO
ALTER TABLE [dbo].[FUNCIONARIO] CHECK CONSTRAINT [FK_CEP]
GO
ALTER TABLE [dbo].[LOCACAO]  WITH CHECK ADD  CONSTRAINT [FK_CPF] FOREIGN KEY([CPF_Cli])
REFERENCES [dbo].[CLIENTE] ([CPF])
GO
ALTER TABLE [dbo].[LOCACAO] CHECK CONSTRAINT [FK_CPF]
GO
ALTER TABLE [dbo].[LOCACAO]  WITH CHECK ADD  CONSTRAINT [FK_Placa_Car] FOREIGN KEY([Placa_Car])
REFERENCES [dbo].[VEICULO] ([Placa_Car])
GO
ALTER TABLE [dbo].[LOCACAO] CHECK CONSTRAINT [FK_Placa_Car]
GO
ALTER TABLE [dbo].[MANUTENCAO]  WITH CHECK ADD  CONSTRAINT [FK_ID_Funcionario] FOREIGN KEY([ID_Funcionario])
REFERENCES [dbo].[FUNCIONARIO] ([ID_Funcio])
GO
ALTER TABLE [dbo].[MANUTENCAO] CHECK CONSTRAINT [FK_ID_Funcionario]
GO
ALTER TABLE [dbo].[MANUTENCAO]  WITH CHECK ADD  CONSTRAINT [FK_Placa_Manutencao] FOREIGN KEY([Placa_Manutencao])
REFERENCES [dbo].[VEICULO] ([Placa_Car])
GO
ALTER TABLE [dbo].[MANUTENCAO] CHECK CONSTRAINT [FK_Placa_Manutencao]
GO
ALTER TABLE [dbo].[SEGURO]  WITH CHECK ADD  CONSTRAINT [FK_ID_Veiculo] FOREIGN KEY([ID_Veiculo])
REFERENCES [dbo].[VEICULO] ([ID_Veiculo])
GO
ALTER TABLE [dbo].[SEGURO] CHECK CONSTRAINT [FK_ID_Veiculo]
GO
ALTER TABLE [dbo].[TROCA_VEICULO]  WITH CHECK ADD  CONSTRAINT [FK_ID_locacao] FOREIGN KEY([Id_Locacao])
REFERENCES [dbo].[LOCACAO] ([ID_Locacao])
GO
ALTER TABLE [dbo].[TROCA_VEICULO] CHECK CONSTRAINT [FK_ID_locacao]
GO
ALTER TABLE [dbo].[TROCA_VEICULO]  WITH CHECK ADD  CONSTRAINT [FK_Placa_Sub] FOREIGN KEY([Placa_Sub])
REFERENCES [dbo].[VEICULO] ([Placa_Car])
GO
ALTER TABLE [dbo].[TROCA_VEICULO] CHECK CONSTRAINT [FK_Placa_Sub]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [CK_Cli_Status] CHECK  (([Cli_Status]='I' OR [Cli_Status]='A'))
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [CK_Cli_Status]
GO
ALTER TABLE [dbo].[VEICULO]  WITH CHECK ADD  CONSTRAINT [CK_Ar_Condicionado] CHECK  (([Ar_Condicionado]='Sim' OR [Ar_Condicionado]='Nao'))
GO
ALTER TABLE [dbo].[VEICULO] CHECK CONSTRAINT [CK_Ar_Condicionado]
GO
ALTER TABLE [dbo].[VEICULO]  WITH CHECK ADD  CONSTRAINT [CK_Direcao_hidraulica] CHECK  (([Direcao_hidraulica]='Sim' OR [Direcao_hidraulica]='Nao'))
GO
ALTER TABLE [dbo].[VEICULO] CHECK CONSTRAINT [CK_Direcao_hidraulica]
GO
ALTER TABLE [dbo].[VEICULO]  WITH CHECK ADD  CONSTRAINT [CK_Radio_Embutido] CHECK  (([Radio_Embutido]='Sim' OR [Radio_Embutido]='Nao'))
GO
ALTER TABLE [dbo].[VEICULO] CHECK CONSTRAINT [CK_Radio_Embutido]
GO
/****** Object:  StoredProcedure [dbo].[CADASTRAR_CLIENTE]    Script Date: 09/11/2016 02:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CADASTRAR_CLIENTE]
@NOME VARCHAR (255), @CPF VARCHAR(14), @CNH VARCHAR (15),  @RG VARCHAR (12), @ORGAO_EMISSOR VARCHAR (20), @TELEFONE VARCHAR (12), @EMAIL VARCHAR (100), @CLI_STATUS VARCHAR (1)
WITH EXECUTE AS CALLER
AS
INSERT INTO CLIENTE (NOME, CPF, CNH, RG, ORGAO_EMISSOR, TELEFONE, EMAIL, CLI_STATUS)

VALUES (@NOME, @CPF, @CNH, @RG, @ORGAO_EMISSOR, @TELEFONE, @EMAIL, @CLI_STATUS);
GO
/****** Object:  StoredProcedure [dbo].[CADASTRAR_VEICULO]    Script Date: 09/11/2016 02:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CADASTRAR_VEICULO]
@PLACA_CAR VARCHAR (7), @MARCA VARCHAR (25), @MODELO VARCHAR (25), @ANO INT, @CAMBIO VARCHAR (25), @MOTOR FLOAT, @AR_CONDICIONADO VARCHAR (3), @DIRECAO_HIDRAULICA VARCHAR (3), @COR VARCHAR (10), @RADIO_EMBUTIDO VARCHAR (3), @VIDROS_ELETRICOS VARCHAR (4), @PORTAS VARCHAR (10)
WITH EXECUTE AS CALLER
AS
INSERT INTO VEICULO (PLACA_CAR, MARCA, MODELO,	ANO, CAMBIO, MOTOR,	AR_CONDICIONADO, DIRECAO_HIDRAULICA, COR, RADIO_EMBUTIDO, VIDROS_ELETRICOS, PORTAS)
 VALUES (@PLACA_CAR, @MARCA, @MODELO, @ANO, @CAMBIO, @MOTOR, @AR_CONDICIONADO, @DIRECAO_HIDRAULICA, @COR, @RADIO_EMBUTIDO, @VIDROS_ELETRICOS, @PORTAS);
GO
USE [master]
GO
